(function($, undefined) {
    actsAsMappable = {
	url_root: undefined,
	map: undefined,
	markersLayer: undefined,
        initToMap: function() {
	    var div = $("#map-canvas");
	    if (div.length === 0) {
	        return;
	    }
	    actsAsMappable.url_root = div.data("url-root");

	    var lat = Number(div.data("lat")),
		lng = Number(div.data("lng")),
		zoom = 12;

	    var map = actsAsMappable.map = L.map('map-canvas');
	    map.on("moveend", actsAsMappable.setMarker);

	    var markersLayer = actsAsMappable.markersLayer = L.layerGroup();
	    markersLayer.addTo(map);

	    map.setView([lat, lng], zoom);
	    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
		maxZoom: 18
	    }).addTo(map);
	},
	setMarker: function() {
	    var map = actsAsMappable.map,
		layer = actsAsMappable.markersLayer,
		bounds = map.getBounds();

	    $.get(actsAsMappable.url_root + "places", { q: { longitude_gteq: bounds.getWest(), latitude_gteq: bounds.getSouth(), longitude_lteq: bounds.getEast(), latitude_lteq: bounds.getNorth() } }, null, "json").done(function(data) {
		layer.clearLayers();
		$.each(data, function(idx, place) {
		    var marker = L.marker([place.latitude, place.longitude]);
		    marker.id = place.id;
		    marker.on("click", actsAsMappable.showPopup);
		    marker.addTo(layer);
		});
	    });
	},
	showPopup: function() {
	    var marker = this;
	    $.get(actsAsMappable.url_root + "places/" + marker.id + "/specimens", {}, null, "json").done(function(specimens) {
		var names = $.map(specimens, function (specimen) { return '<a href=' + actsAsMappable.url_root + 'specimens/' + specimen.id + '>' + specimen.name + '</a>'; });
		marker.bindPopup(names.join(", ")).openPopup();
	    });
	}
    }

    $(document).ready(actsAsMappable.initToMap);
})(jQuery);
